<div class="container d-flex">
  <% @items.each do |item| %>
    <div class="m-2" style="width:300px; height:500px">
      <p><strong>name:</strong><%= item.name %></p>
      <p><strong>category:</strong><%= item.category %></p>
      <p><strong>description:</strong><%= item.description %></p>
      <p><strong>price:</strong><%= item.price %></p>
      <p><strong>size:</strong><%= item.size %></p>
      <p><strong>user_id:</strong><%= item.user_id %></p>
    </div>
  <% end %>
</div>
